<div class="row">
  <div class="col-md-7 banner">
    <h1><span class="text-red">Houseclip</span> Alquila tu apartamento, casa u hospedaje.</h1>
  </div>
</div>

<%= form_tag search_path, class: "home_form", method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id:"autolocation" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
    </div>
    <div class="col-md-3">
      <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
    </div>
</div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
    </div>
  </div>
<% end %>

<br/><hr/><br/>

<!-- Homes -->
<div><h3>Hospedajes</h3></div>
<br/>

<div class="row">
  <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
</div>
<br/>
<div><h3>Apartamentos</h3></div>
<br/>

<div class="row">
  <%= render partial: "rooms/apartment_list", locals: {rooms: @rooms} %>
</div>
<br/>
<div><h3>Bed & Breakfast</h3></div>
<br/>

<div class="row">
  <%= render partial: "rooms/bedandbreakfast_list", locals: {rooms: @rooms} %>
</div>
<br/><hr/><br/>

<!-- Cities -->
<div><h3>Cities</h3></div>
<br>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="https://houseclip.properties/search?utf8=%E2%9C%93&search=mayaguez">
      <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://houseclip.properties/search?utf8=%E2%9C%93&search=cayey">
      <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://houseclip.properties/search?utf8=%E2%9C%93&search=riopiedras">
      <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="https://houseclip.properties/search?utf8=%E2%9C%93&search=bayamon">
      <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
    </a>
  </div>
</div>

<script>
  $(function() {

    $("#start_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#end_date').datepicker("option", "minDate", selected);
        $('#end_date').attr('disabled', false);
      }
    });

    $("#end_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#start_date').datepicker("option", "maxDate", selected);
      }
    });
  });
  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
